*{
  margin: 0;
  padding: 0;
  list-style: none;

}

body{
  background: rgb(255, 255, 255);
}
.filter-container {
  text-align: center;
  padding-bottom: 20px;
}
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;
}
.range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
}


.countries-container{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: space-around; */
  /* align-items: center; */
  /* padding: 15px 0; */
}

.countries-container .card {
  flex:  1 0 20%;
  background-color: rgb(32, 32, 32);
  margin: 5px;
  padding: 30px;
  min-width: 260px;
  border-radius: 20px;
  color: white;
  text-align: center;
  box-shadow: 0px 0px 10px 1px rgb(79, 79, 79);
}

.card h1{
  text-align: center;
  font-size: 2rem;
  color: white;
  padding: 20px 0 0 0 ;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card img{
  width: 275px;
  height: 175px;
  object-fit: cover;
  /* border: 1px solid white; */
}

.card p{
  padding: 20px 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  
}
.card span{
  letter-spacing: 1px;
  font-weight: 900;
}